<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
    A:link {text-decoration: none; color: blue;}
    A:visited {text-decoration: none; color: blue;}
    A:active {text-decoration: none; color: blue;}
    A:hover {text-decoration: none; color: blue;}
    </style>
</head>

<body>
    <h1 style="text-align: center;">This page is about counting words.</h1>
    <div style="font-style: italic;text-align: center;padding-right: 3.8rem;">
        --->click here <a href="{%url 'wordcount' %}">back to wordcount</a>
</body>
</html>
