{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

<div>
    <header><b>BOOK-MARK</b></header><hr>
    <br>
    <div>
        <button><a href="{% url 'main:new' %}">CREATE</a></button>
    </div>
</div>

<div>
    {% if bookmarks %}

    {% for bookmark in bookmarks %}
    <div>
        <p><b>{{ bookmark.site_name }}</b></p>
        <p>{{ bookmark.site_url }}</p>
        <div>
            <button><a href="{% url 'main:edit' bookmark.id %}">edit</a></button>
            <form action="{% url 'main:delete' bookmark.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
        </div>

    </div>
    
    {% endfor %}

    {% else %}

    <div>
        <p>
            북마크가 비어있어요 CREATE 필요
        </p>
    </div>

    {% endif %}


</div>

{% endblock %}